<!-- <mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>

  <a mat-button [routerLink]="['profile']">Profile</a>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
  <button mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button>

</mat-toolbar>-->



<div class="container">
  <aside>
    <div class="top">
      <div class="logo">
        <img src="https://images.theconversation.com/files/399816/original/file-20210510-5797-xqoxsr.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop">
        <h2>EGA<span class="danger">TOR</span></h2>
      </div>
      <div class="close" id="close-btn">
        <span class="material-icons-sharp">close</span>
      </div>
    </div>
    <div class="sidebar">
      <a [routerLink]="['/home']" routerLinkActive="active">
        <span class="material-icons-sharp">grid_view</span>
        <h3>Dashboard</h3>
      </a>
      <a [routerLink]="['/profile']" routerLinkActive="active">
        <span class="material-icons-sharp">person_outline</span>
        <h3>Customers</h3>
      </a>
      <a [routerLink]="['/project-user']" routerLinkActive="active">
        <span class="material-icons-sharp">receipt_long</span>
        <h3>Orders</h3>
      </a>
      <a [routerLink]="['/file-viewer']" routerLinkActive="active">
        <span class="material-icons-sharp">insights</span>
        <h3>Analytics</h3>
      </a>
      <a [routerLink]="['/scheduler']" routerLinkActive="active">
        <span class="material-icons-sharp">mail_outline</span>
        <h3>Messages</h3>
      </a>
      <a [routerLink]="['/home']" routerLinkActive="active">
        <span class="material-icons-sharp">inventory</span>
        <h3>Products</h3>
      </a>
      <a *ngIf="!loginDisplay" (click)="login()">
        <span class="material-icons-sharp">login</span>
        <h3>Login</h3>
      </a>
      <a *ngIf="loginDisplay" (click)="logout()">
        <span class="material-icons-sharp">logout</span>
        <h3>Logout</h3>
      </a>
    </div>
  </aside>

  <div class="right">
    <div class="top">
      <button id="menu-btn">
        <span class="material-icons-sharp">menu</span>
      </button>
      <div class="theme-toggler">
        <span class="material-icons-sharp active">light_mode</span>
        <span class="material-icons-sharp">dark_mode</span>
      </div>
      <div class="profile">
        <div class="info">
          <p>Hey, <b>Name</b></p>
          <small class="text-muted">Admin</small>
        </div>
        <div class="profile-photo">
          <img src="https://media.istockphoto.com/photos/trees-forming-a-heart-picture-id537373196?k=20&m=537373196&s=612x612&w=0&h=Y6zpQNFrhLp9lusVP5xbJ8s6H9i0hOZlQwhhPxHlGXU=">
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
