<div style="display: flex; margin-bottom: 10px;">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Project</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="projectsControl"
                 [matAutocomplete]="auto1">
          <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete" [displayWith]="displayProperty" (optionSelected)='getProjectsCandidate($event.option.value)'>
            <mat-option *ngFor="let option of filteredProjects | async" [value]="option">
              (id:{{ option.id }}) {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
    </form>

    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Candidate</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="candidateControl"
               [matAutocomplete]="auto2">
        <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete" [displayWith]="displayProperty" (optionSelected)='getCandidateFiles($event.option.value)'>
          <mat-option *ngFor="let option of filteredCandidates | async" [value]="option">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </form>
</div>

<div style="margin-bottom: 30px;">
  <div *ngFor="let i of candidateFiles" style="display: grid; grid-template-columns: 200px auto; margin-bottom: 30px;">
    <div style="display: flex;">{{ i.fileName.substring(0, 20) }} <div *ngIf="i.fileName.length > 20">...</div> </div>
    <div style="display: flex;">
      <div (click)="copyMessage(i.fileUrl)"><a class="btn btn-2">Url</a></div>
      <div><a target="_blank" [href]="i.fileUrl" class="btn btn-2">Open</a></div>
      <div (click)='deldeleteCandidateFile(i.candidateId, i.id, i.fileUrl)'><a class="btn btn-2">delete</a></div>
    </div>
  </div>
  
  <div *ngIf="candidateFiles.length < 1" style="display: flex; margin-bottom: 30px;">
    This candidate has no file
  </div>

  <form style="display: flex;" (ngSubmit)="onSubmit()">
    <div style="padding: 10px; background-color: rgba(0, 0, 0, 0.1);">
    <h2>Add new file (to selected Candidate)</h2>
      <mat-form-field class="example-full-width" appearance="fill" style="margin-right: 10px;">
        <mat-label>Name</mat-label>
        <input matInput name="fileName" [(ngModel)]="newFile.fileName">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Url(disabled)</mat-label>
        <input matInput disabled name="fileUrl" [(ngModel)]="newFile.fileUrl">
      </mat-form-field>

      <button style="margin: 0 0 10px 10px; background-color: transparent;">
        <a class="btn btn-2" style="font-size: large;">Add</a>
      </button>
    </div>
  </form>
</div>

<input id='file_upload' type="file" (change)='imageSelected($event.target)' hidden="true">
<a class="btn btn-2"><label for="file_upload">Select File</label></a>
<div #viewer style="width: 100%; height: 100vh; margin-top: 10px;"></div>

